

  .form-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: none;
    color: #000000;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: 5px solid white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .form-header h1 {
    text-align: center;
    
    font-family: Noto Sans Vithkuqi, sans-serif;
    font-size: 36px;
    color:white;
  }




  button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FCCC44;
    color: #fff;
    border: 1px solid #FCCC44;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;

  }

  button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
  
  p {
    text-align: center;
    margin: 8px;
  }